@import "tailwindcss";

@theme {
    --font-sans: 'Inter', sans-serif;
    --font-display: 'Bebas Neue', sans-serif;
}

body {
    margin: 0;
    background-color: #09090b;
    font-family: 'Inter', sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #27272a inset !important;
    -webkit-text-fill-color: #f4f4f5 !important;
    caret-color: #f4f4f5;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #52525b;
    border-radius: 99px;
}

::-webkit-scrollbar-thumb:hover {
    background: #71717a;
}